<manifest xmlns:tools="http://schemas.android.com/tools">

  <uses-sdk
    tools:overrideLibrary="androidx.test, androidx.test.ext.junit, androidx.test.espresso.core,
        androidx.test.core, androidx.test.runner, androidx.test.services.storage, androidx.test.monitor,
        androidx.test.espresso.idling.resource, android_libs.ub_uiautomator"
  />

</manifest>
