name: Build

on:
  pull_request:
    branches:
      - '**'
    paths-ignore:
      - '**.md'
  push:
    paths-ignore:
      - '**-check.yml'
      - '**-submission.yml'
      - '**-validation.yml'
      - '**.*ignore'
      - '**.md'
      - '**dependabot.yml'

env:
  GRADLE_OPTS: "-Dorg.gradle.jvmargs=-Xmx6g -Dorg.gradle.daemon=false -Dkotlin.incremental=false \
  -Dorg.gradle.configureondemand=false \
  -Dorg.gradle.unsafe.configuration-cache=false \
  -Dorg.gradle.vfs.watch=false \
  "

jobs:
  os-checks:
    strategy:
      fail-fast: false
      matrix:
        java: [ '11' ]
        os: [ 'macos-latest', 'windows-latest', 'ubuntu-latest' ]

    name: 'Test on ${{ matrix.os }} JDK ${{ matrix.java }}'
    timeout-minutes: 55
    runs-on: ${{ matrix.os }}
    if: ${{ !contains(github.event.head_commit.message, 'ci skip') }}

    steps:
      - name: Harden Runner
        if: matrix.os == 'ubuntu-latest'
        uses: step-security/harden-runner@8f144f8401c4e3693085dff03603f617f566ec6b
        with:
          disable-sudo: true
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@v3

      - name: 'Set up JDK ${{ matrix.java }}'
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '${{ matrix.java }}'

      - name: 'Set up NodeJS 18'
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Cache kotlin konan
        timeout-minutes: 5
        uses: actions/cache@v3
        with:
          path: ~/.konan
          key: ${{ matrix.os }}-konan-${{ hashFiles('**/*.konan*') }}
          restore-keys: ${{ matrix.os }}-konan-

      - name: 'Build and check on macOS (complete)'
        if: matrix.os == 'macos-latest'
        timeout-minutes: 50
        uses: gradle/gradle-build-action@v2
        env:
          CI: true
        with:
          gradle-home-cache-cleanup: true
          arguments: build assemble check --stacktrace --continue --scan

      - name: 'Publish SNAPSHOT'
        if: success() && matrix.os == 'macos-latest' && github.event_name == 'push'
          && github.ref == 'refs/heads/main' && github.repository == 'fluxo-kt/fluxo-mvi'
        continue-on-error: true
        env:
          CI: true
          OSSRH_USER: ${{ secrets.OSSRH_USER }}
          OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
          SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
          SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
        run: ./gradlew publish -DDISABLE_TESTS --stacktrace --scan

      - name: 'Build and check on ${{ matrix.os }} (split_targets, macOS ignored)'
        if: matrix.os != 'macos-latest'
        timeout-minutes: 40
        uses: gradle/gradle-build-action@v2
        env:
          CI: true
        with:
          gradle-home-cache-cleanup: true
          arguments: build assemble check -Dsplit_targets --stacktrace --continue --scan

      - name: Summary
        if: success() || failure()
        continue-on-error: true
        run: ./.github/workflows/summary.main.kts >> $GITHUB_STEP_SUMMARY
        shell: bash

      - name: Upload code coverage
        if: (success() || failure()) && !contains(github.event.head_commit.message, 'coverage skip')
        uses: codecov/codecov-action@v3
        env:
          OS: ${{ matrix.os }}
          JAVA_VERSION: ${{ matrix.java }}
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./build/reports/kover-merged-report.xml
          env_vars: OS,JAVA_VERSION
          flags: 'unit-tests,${{ matrix.os }}'
          name: 'codecov-${{ matrix.os }}'
          move_coverage_to_trash: true
          fail_ci_if_error: false

      - name: Upload reports
        if: success() || failure()
        uses: actions/upload-artifact@v3
        continue-on-error: true
        with:
          name: 'reports-${{ matrix.os }}'
          path: |
            **/build/reports/
            !**/build/reports/configuration-cache/
            !**/build/reports/dependency-analysis/

      - name: Upload merged sarif (Lint)
        if: (success() || failure()) && matrix.os == 'macos-latest'
        uses: github/codeql-action/upload-sarif@v2
        continue-on-error: true
        with:
          sarif_file: build/lint-merged.sarif
          category: lint

      - name: Upload merged sarif (Detekt)
        if: (success() || failure()) && matrix.os == 'macos-latest'
        uses: github/codeql-action/upload-sarif@v2
        continue-on-error: true
        with:
          sarif_file: build/detekt-merged.sarif
          category: detekt

      - name: Publish JUnit test results as a pull request check
        if: github.repository == 'fluxo-kt/fluxo-mvi' && github.ref == 'refs/heads/main' && matrix.os == 'macos-latest'
        uses: mikepenz/action-junit-report@v3
        with:
          report_paths: '**/build/test-results/*/TEST-*.xml'
