name: Submit Gradle dependencies

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**-check.yml'
      - '**-validation.yml'
      - '**.*ignore'
      - '**.api'
      - '**.kt'
      - '**.main.kts'
      - '**.md'
      - '**.pro'
      - '**.xml'
      - '**benchmark.yml'
      - '**build.yml'

permissions:
  contents: read

jobs:
  submit:
    name: Dependencies
    runs-on: ubuntu-latest
    if: ${{ !contains(github.event.head_commit.message, 'ci skip') }}
    permissions: # The Dependency Submission API requires write permission
      contents: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@394d78e5b40cc35c170eb909b1f81551f37feb05
        with:
          disable-sudo: true
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: Wandalen/wretry.action@v1.0.36
        timeout-minutes: 5
        with:
          action: actions/setup-java@v3
          with: |
            cache: gradle
            distribution: temurin
            java-version: 17
          attempt_limit: 3
          attempt_delay: 2000

      - name: Disable configuration cache
        run: sed -i 's/org.gradle.configuration-cache=true/org.gradle.configuration-cache=false/' gradle.properties

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
        with:
          cache-read-only: true
          gradle-home-cache-cleanup: true

      - name: Submit Gradle Dependency Graph
        uses: mikepenz/gradle-dependency-submission@v0.8.6
        with:
          gradle-build-module: |-
            :
            :fluxo-common
            :fluxo-core
            :fluxo-data
            :plugins
            :benchmarks:jmh
          include-build-environment: false
          sub-module-mode: INDIVIDUAL_DEEP
